/*
// Copyright : Étienne Loks 2009
*/

/* generic styles */

body {
    font-family:Verdana,Arial,sans-serif;
    font-size:12px;
    text-align:center;
    background-image: url(/morrigan_extra/image/bgs/blue_deb.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    background-attachment:fixed;
}

p{
    padding:0 10px;
}

div.spacer {
    clear: both;
}

dl, dt, dd{
    padding:0;
    margin:0;
}

dt{
    font: normal small-caps 12px Georgia, serif;
}

.erreur{
    color:blue;
}

/* menu buttons */
.button {
    text-align:center;
}

ul.button{
    margin-left:0px;
    padding-left:0px;
    list-style: none;
}

.button input:hover {
    cursor:pointer;
}

.button a {
    color:black;
    display:block;
    text-decoration:none;
    padding:2px;
    margin:6px;
}

.button a:visited {
    text-decoration:none;
}

.button a:hover {
    text-decoration:none;
    background-color:#3d6c9c;
    color:white;
}

/* forms customization */
.form {
    text-align:right;
    margin-left:auto;
    margin-right:auto;
}

.form input{
    border: 1px solid #999;
    -moz-border-radius: 4px;
}

/* main frames */
.cadre {
    text-align:center;
    display:block;
    margin:0;
    padding:0;
}

.principal {
    margin:10px;
    padding:20px;
    text-align:justify;
}

.bann {
    background-color:#9cb4ce;
    margin:1px;
    height:60px;
}

/* header */
.head{
    display:none;
}

/* state menu */
.menu-top {
    position:fixed;
    font-size:12px;
    border:1px solid black;
    height:18px;
    padding:0 10px;
    background-color:#eee;
    right:10px;
    left:10px;
    top:0;
}

.menu-top a {
    color:black;
    text-decoration:none;
    padding:2px;
    margin:6px;
    font: normal small-caps 12px Georgia, serif;
}

.menu-selected a{
    text-decoration:none;
    font-style:normal;
    background-color:#3d6c9c;
    color:white;
}

.menu-top a:visited {
    text-decoration:none;
}

.menu-top a:hover {
    background-color:#3d6c9c;
    color:white;
}

ul.menu-top{
   list-style:none;
   text-align:center;
}

.menu-top li{
   display:inline;
}

/* action and character menu */
.menu-left{
    margin:0;
    margin-top:22px;
}

.menu-left .nom{
   position:fixed;
   float:left;
   padding:10px;
}

.menu-left-contenu{
   text-align:left;
   position:fixed;
   top:40px;
}

.menu-left-contenu .nom{
   position:fixed;
   right:10px;
   z-index:-1;
   width:180px;
   top:30px;
   text-align:right;
}

.menu-left-contenu ul{
padding-left:0px;
}

.menu-left-contenu li{
list-style: none;
}

img.descMenu{
    display:None;
}

/* states bars */
dl.statebar{
    border: 1px solid black;
    -moz-border-radius: 4px;
    background-color: #eee;
    width: 120px;
    text-align: center;
    padding:4px;
    float: left;
    margin-right:1em;
    margin-bottom:10px;
    text-align:center;
}

dl.statebar dd{
    padding:0;
    margin:0;
    width:116px;
}

/* states bar images */
.barStartImageFull{
    background-image: url(/morrigan_extra/image/left_bar_full.png);
    background-repeat: no-repeat;
    height:8px;
    background-position:top right;
}

.barStartImageEmpty{
    background-image: url(/morrigan_extra/image/left_bar_empty.png);
    background-repeat: no-repeat;
    height:8px;
    background-position:top right;
}

.barMidImageFull{
    background-image: url(/morrigan_extra/image/bar_full.png);
    background-repeat: no-repeat;
    height:8px;
}

.barMidImageEmpty{
    background-image: url(/morrigan_extra/image/bar_empty.png);
    background-repeat: no-repeat;
    height:8px;
}

.barEndImageFull{
    background-image: url(/morrigan_extra/image/right_bar_full.png);
    background-repeat: no-repeat;
    height:8px;
}

.barEndImageEmpty{
    background-image: url(/morrigan_extra/image/right_bar_empty.png);
    background-repeat: no-repeat;
    height:8px;
}

#money{
    width:220px;
}

#money dd{
    width:220px;
}

#money ul, #money li{
    margin:0;
    padding:0;
}

#money li{
    display:inline;
    font: normal small-caps 10px Georgia, serif;
}

#money li:after { content: ", "; }
#money li:last-child:after { content: "."; }

/* action's items */

#actions{
    position:fixed;
    margin:0;
    right:10px;
    top:80px;
    padding:0;
    width:180px;
    border:1px solid black;
    -moz-border-radius: 4px;
    background-color: #eee;
}

#actions h3{
    margin:0;
    padding:0;
    text-align:center;
    color:white;
    background-color:#3d6c9c;
    border-bottom:1px solid black;
}

div.menuSection{
    text-align:right;
    margin:5px;
}

div.menuHeader{
    font-style:italic;
    border-bottom:1px solid grey;
}

div.menuHeader:hover {
    cursor :pointer;
    color:white;
    background-color:#3d6c9c;
}

div.menuHeader a{
    float:left;
    text-decoration:none;
    display:block;
    padding:2px;
}

div.menuContainer{
    display:none;
}

ul.menuContainer{
    list-style: none;
    margin:0px;
    padding-left:0px;
}

ul.menuContainer a{
    margin:0px;
    margin-top:6px;
}

.menuContainer a {
    color:black;
    display:block;
    text-decoration:none;
    padding:2px;
    margin-top:6px;
}

.menuContainer a:visited {
    text-decoration:none;
}

/* main content */
.contenu-right {
    text-align:justify;
    margin-right:180px;
    margin-top:70px;
}

/* tabs */
dl.tab {
    margin:6px;
    padding:4px;
}

dl.tab dt{
    font: normal small-caps 12px Georgia, serif;
    margin:3px 4px 3px 4px;
    border: 1px solid black;
    padding:2px;
    display:inline;
    text-align:center;
    white-space:nowrap;
    line-height:26px;
}

dl.tab dt:hover {
    cursor:pointer;
    background-color:#3d6c9c;
    color:white;
}

dt.classicTab{
}

dt.selectedTab{
    background-color:#3d6c9c;
    color:white;
}

dl.tab dd{
    float:left;
}

.content{
    margin:20px 0 0 0;
}

/* generic container for sections */

.contenu {
    border:solid 1px grey;
    padding:15px;
    margin-top:10px;
    -moz-border-radius: 4px;
}

.contenu h1{
    background-color:#3d6c9c;
    color:white;
    border:1px solid black;
    text-align: center;
    padding:0;
    margin:0;
    margin-bottom:10px;
    margin-top:10px;
    font: normal small-caps 14px Georgia, serif;
}

.contenu h2{
    text-align: center;
    font-size:14px;
    margin-bottom:10px;
    font: normal small-caps 12px Georgia, serif;
}

.contenu h3{
    text-align: center;
    font-size:12px;
    font: italic small-caps 11px Georgia, serif;
}

.contenu hr {
    visibility:hidden;
}

.extra{
    font-style:italic;
    text-align:left;
}

/* location description */

#location_img{
text-align:center;
margin-top:20px;
}

#location_desc{
}

/* character description */
div.perso{
    margin:8px;
    -moz-border-radius: 4px;
}

/* character name */
div.nom{
    font-weight:bold;
    text-align:center;
    font: normal small-caps 14px Georgia, serif;
}

div.description{
    margin:10px;
}

/* image in the description */
img.description{
    float:left;
    width:100px;
    height:100px;
    margin:5px;
}

/* containers for character informations */
div.dependPerso{
    margin-left:20px;
    margin-right:20px;
    font-size:10px
}

div.infoPerso{
    text-align:center;
    font-size:10px;
    font-style:italic;
}

.infoPerso ul{
    display:inline;
    list-style:none;
    font-style:normal;
    margin:1em;
    padding:0px;
}

.infoPerso li{
    display:inline;
}

.infoPerso li:after { content: ", "; }
.infoPerso li:last-child:after { content: "."; }


dl.character_states dt, dl.character_states dd{
    display:inline;
}

.character_states dd:after { content: ", "; }
.character_states dd:last-child:after { content: "."; }

/* action form */
.actionForm {
    text-align:center;
}

.actionForm table{
    margin-left:auto;
    margin-right:auto;
}

/* category for characteristic page */
.category{
    float:left;
    margin-left:1em;
    margin-top:1em;
    width:180px;
    border:1px solid black;
}

.category h2{
    font: normal small-caps 14px Georgia, serif;
    color:black;
    border-bottom:1px solid black;
    background-color:#3d6c9c;
    color:white;
    padding:2px;
    margin:0px;
}

.category table{
    table-layout:fixed;
    width:180px;
    background-color:#eee;
    text-align:center;
}

/* compass rose for moves */
table.compassRose {
    border-collapse:collapse;
    width:80%;
}

.compassRose th {
    width:25%;
}

.compassRose td {
    border: 1px solid grey;
    background-color:#eee;
}

th.tableCheck {
    width:5%;
}

/* items table in inventory page */

#inventory_misc{
    height:50px;
    text-align:center;
}

table.items{
    border-collapse:collapse;
    text-align:center;
    width:98%;
    margin:1%;
}

table.items th{
    font: normal small-caps 12px Georgia, serif;
    padding:4px;
    border:1px solid black;
    background-color:#3d6c9c;
    color:white;
}


table.items td{
    margin:0px;
    padding:0px;
    border:1px solid black;
    padding:2px;
}

.item_equipped{
    font-style:italic;
}

ul.checklist{
   list-style: none;
   text-align:left;
}

.legend{
   float:left;
   text-align:center;
}

/* action file items */

.contenu .menu-top{
    position:relative;
    padding:0;
    margin:10px 0;
    right:0;
    left:0;
}

div.container{
    margin-bottom:6px;
}

div.headerContainer:hover {
    cursor:pointer;
}

.headerContainer{
    border:1px solid black;
    background-color:#3d6c9c;
    color:white;
}

.actionDate{
    font: normal small-caps 11px Georgia, serif;
    margin:10px;
}

.actionName{
    font: normal small-caps 11px Georgia, serif;
    font-style:italic;
}

.action{
    font-size:10px;
    margin:5px;
    font-style:italic;
}

.heading{
    font: normal small-caps 11px Georgia, serif;
}

.actionFileTitle{
    display:none;
}

/* tail */
.tail{
    font: normal small-caps 12px Georgia, serif;
    position:fixed;
    right:10px;
    left:10px;
    bottom:6px;
    border:1px solid black;
    background-color:#eee;
}
