/*
// Copyright : Étienne Loks 2009
*/


/* Styles généraux */

body {
    font-family:Verdana,Arial,sans-serif;
    font-size:12px;
    text-align:center;
}

p{
    padding:0 10px;
}

div.spacer {
    clear: both;
}

dl, dt, dd{
    padding:0;
    margin:0;
}

dt{
    font: normal small-caps 12px Georgia, serif;
}

.erreur{
    color:blue;
}

/* affichage de boutons dans les menus */
.button {
    text-align:center;
}

ul.button{
    margin-left:0px;
    padding-left:0px;
    list-style: none;
}

.button input:hover {
    cursor:pointer;
}

.button a {
    color:black;
    display:block;
    text-decoration:none;
    padding:2px;
    margin:6px;
}

.button a:visited {
    text-decoration:none;
}

.button a:hover {
    background-color:grey;
    text-decoration:none;
    -moz-border-radius: 4px;
    color:white;
}

/* personalisation de formulaires */
.form {
    text-align:right;
    margin-left:auto;
    margin-right:auto;
}

.form input{
    border: 1px solid #999;
    -moz-border-radius: 4px;
}

/* cadre global */
.cadre {
    text-align:center;
    display:block;
    margin:0;
    padding:0;
}

/* bannière */
.bann {
    background-color:#9cb4ce;
    margin:1px;
    height:60px;
}

/* entête */
.head{
    font: normal small-caps 20px Georgia, serif;
}

/* menu des états */
.menu-top {
    padding:6px;
    height:20px;
    font-size:14px;
}

.menu-top a {
    color:black;
    text-decoration:none;
    padding:2px;
    margin:8px;
    font: normal small-caps 12px Georgia, serif;
    border-bottom:1px solid grey;
}

.menu-selected a{
    text-decoration:none;
    font-style:normal;
    padding:2px;
    margin:6px;
    border:1px solid grey;
}

.menu-top a:visited {
    text-decoration:none;
}

.menu-top a:hover {
    color:grey;
}

ul.menu-top{
   list-style:none;
   text-align:center;
}

.menu-top li{
   display:inline;
}

/* menu d'action */
.menu-left{
    float:left;
    width:20%;
    padding:10px;
}

.menu-left-contenu{
padding:10px;
text-align:center;
margin-bottom:10px;
}

.menu-left-contenu ul{
padding-left:0px;
}

.menu-left-contenu li{
list-style: none;
}

img.descMenu{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:100px;
    padding:5px;
}

dl.statebar{
    text-align:center;
}

/* images des barres */
.barStartImageFull{
    background-image: url(/morrigan_extra/image/left_bar_full_brown.png);
    background-repeat: no-repeat;
    height:8px;
    background-position:top right;
}

.barStartImageEmpty{
    background-image: url(/morrigan_extra/image/left_bar_empty_brown.png);
    background-repeat: no-repeat;
    height:8px;
    background-position:top right;
}

.barMidImageFull{
    background-image: url(/morrigan_extra/image/bar_full_brown.png);
    background-repeat: no-repeat;
    height:8px;
}

.barMidImageEmpty{
    background-image: url(/morrigan_extra/image/bar_empty_brown.png);
    background-repeat: no-repeat;
    height:8px;
}

.barEndImageFull{
    background-image: url(/morrigan_extra/image/right_bar_full_brown.png);
    background-repeat: no-repeat;
    height:8px;
}

.barEndImageEmpty{
    background-image: url(/morrigan_extra/image/right_bar_empty_brown.png);
    background-repeat: no-repeat;
    height:8px;
}

/* éléments des menus d'action */

#actions h3{
    margin:0;
    padding:0;
    text-align:center;
    border-bottom:1px solid black;
    font: normal small-caps 12px Georgia, serif;
}

div.menuSection{
    margin:5px;
}

div.menuHeader{
    -moz-border-radius: 4px;
    font-style:italic;
    border-bottom:1px solid grey;
}

div.menuHeader:hover {
    cursor :pointer;
    color:grey;
}

div.menuHeader a{
    color:black;
    text-decoration:none;
    display:block;
    padding:2px;
}

div.menuContainer{
    display:none;
}

ul.menuContainer{
    list-style: none;
    margin:0px;
    padding-left:0px;
}

ul.menuContainer a{
    margin:0px;
    margin-top:6px;
}

.menuContainer a {
    color:black;
    display:block;
    text-decoration:none;
    padding:2px;
    margin-top:6px;
}

.menuContainer a:visited {
    text-decoration:none;
}

/* onglets */
dl.tab {
    margin:6px;
    padding:4px;
}

dl.tab dt{
    font: normal small-caps 12px Georgia, serif;
    margin:3px 4px 3px 4px;
    border-bottom: 1px solid grey;
    padding:2px;
    display:inline;
    text-align:center;
    white-space:nowrap;
    line-height:26px;
}

dl.tab dt:hover {
    cursor:pointer;
    color:grey;
}

dt.classicTab{
}

dt.selectedTab{
    font-style:italic;
    border: 1px solid grey;
}

dl.tab dd{
    float:left;
}

.content{
    margin:20px 0 0 0;
}

/* conteneur général pour les sections de la page */

.contenu {
    border-bottom:solid 1px grey;
    padding:15px;
    margin-top:10px;
    -moz-border-radius: 4px;
}

.contenu h1{
    text-align: center;
    padding:0;
    margin:0;
    margin-bottom:10px;
    margin-top:10px;
    font: normal small-caps 14px Georgia, serif;
}

.contenu h2{
    text-align: center;
    font-size:14px;
    margin-bottom:10px;
    font: normal small-caps 12px Georgia, serif;
}

.contenu h3{
    text-align: center;
    font-size:12px;
    font: italic small-caps 11px Georgia, serif;
}

.contenu hr {
    visibility:hidden;
}

.extra{
    font-style:italic;
    text-align:left;
}

/* cadre principal */
.principal {
    margin:10px;
    padding:20px;
    text-align:justify;
    background-image: url(/morrigan_extra/bg/nim_bg_brown.png);
    background-repeat:no-repeat;
    background-position:top right;
}

.contenu-right {
    float:left;
    width : 73%;
    text-align:justify;
    margin-left:15px;
}

/* description d'un lieu */

#location_img{
text-align:center;
margin-top:20px;
}

#location_desc{
}

/* description d'un personnage */
div.perso{
    margin:8px;
    -moz-border-radius: 4px;
}

/* nom du personnage */
div.nom{
    font-weight:bold;
    text-align:center;
    font: normal small-caps 14px Georgia, serif;
}

div.description{
    margin:10px;
}

/* image contenue dans la description */
img.description{
    float:left;
    width:100px;
    height:100px;
    margin:5px;
}

/* conteneurs pour les informations du personnage */
div.dependPerso{
    margin-left:20px;
    margin-right:20px;
    font-size:10px
}

div.infoPerso{
    text-align:center;
    font-size:10px;
    font-style:italic;
}

.infoPerso ul{
    display:inline;
    list-style:none;
    font-style:normal;
    margin:1em;
    padding:0px;
}

.infoPerso li{
    display:inline;
}

.infoPerso li:after { content: ", "; }
.infoPerso li:last-child:after { content: "."; }

dl.character_states dt, dl.character_states dd{
    display:inline;
}

.character_states dd:after { content: ", "; }
.character_states dd:last-child:after { content: "."; }

/* formulaire d'action */
.actionForm {
	text-align:center;
}

.actionForm table{
	margin-left:auto;
	margin-right:auto;
}

/* catégories de la page de caractéristique */
.category{
    float:left;
    margin-left:1em;
    margin-top:1em;
    width:180px;
}

.category h2{
    font: normal small-caps 14px Georgia, serif;
    color:black;
    border-bottom:1px solid grey;
    padding:2px;
    margin:0px;
}

.category table{
    table-layout:fixed;
    width:180px;
    text-align:center;
}

/* rose des vents des déplacements */
table.compassRose {
    border-collapse:collapse;
    width:80%;
}

.compassRose th {
    width:25%;
}

.compassRose td {
    border: 1px solid grey;
}

th.tableCheck {
    width:5%;
}

/* inventory page */
#inventory_misc{
    height:40px;
}

#inventory_misc dl{
    float:left;
}

#inventory_misc dt{
    text-align:center;
}

#inventory_misc li{
    display:inline;
}

#inventory_misc li:after { content: ", "; }
#inventory_misc li:last-child:after { content: "."; }

/* items table in inventory page */
table.items{
    text-align:center;
    width:98%;
    margin:1%;
}

table.items th{
    font: normal small-caps 12px Georgia, serif;
    padding:4px;
    border:1px solid grey;
}


table.items td{
    margin:0px;padding:0px;
    border:1px solid grey;
    padding:2px;
}

.item_equipped{
    font-style:italic;
}

ul.checklist{
   list-style: none;
   text-align:left;
}

.legend{
   float:left;
   text-align:center;
}

/* action file items */

div.container{
    margin-bottom:6px;
}

div.headerContainer:hover {
    cursor:pointer;
}

.headerContainer{
    border-bottom: 1px solid grey;

}

.actionDate{
    font: normal small-caps 11px Georgia, serif;
    margin:10px;
}

.actionName{
    font: normal small-caps 11px Georgia, serif;
    font-style:italic;
}

.action{
    font-size:10px;
    margin:5px;
    font-style:italic;
}

.heading{
    font: normal small-caps 11px Georgia, serif;
}

.actionFileTitle{
    display:none;
}

.tail{
    font: normal small-caps 12px Georgia, serif;
}
