/*
// Copyright : Arkenlond - 2003 - Etienne Loks 2004 - 2005
// style.css : feuille de style
*/


/* Styles généraux */
html{
    background-color:#4c9800;
}

body {
    font-family:Verdana,Arial,sans-serif;
    font-size:12px;
    color:#fff;
    text-align:center;
    background-color:#4c9800;
}

p{padding:0 10px;}

dl, dt, dd{
padding:0;
margin:0;
}

.cadre {
    background-color:#6eba0d;
    text-align:center;
    display:block;
    margin:2%;
    border:2px solid;
}

.bann {
    background-color:#9cb4ce;
    margin:1px;
    height:60px;
}

div.spacer {
    clear: both;
}

.menu-top {
    padding:6px;
    height:20px;
    font-size:14px;
}

.menu-top a {
    color:white;
    text-decoration:none;
    border:1px solid #6eba0d;
    -moz-border-radius: 4px;
    padding:2px;
    margin:8px;
}

.menu-selected a{
    text-decoration:none;
    border:1px solid white;
    background-color: #6eba0d;
    -moz-border-radius: 4px;
    padding:2px;
    margin:6px;
}

.menu-top a:visited {
    text-decoration:none;
}

.menu-top a:hover {
    border:1px solid white;
    background-color: #6eba0d;
    text-decoration:none;
}

ul.menu-top{
   list-style:none;
   text-align:center;
}

.menu-top li{
   display:inline;
}

.menu-left{
    float:left;
    width:20%;
    padding:10px;
}

.menu-left-contenu{
padding:10px;
text-align:center;
border:solid 1px #6eba0d;
margin-bottom:10px;
-moz-border-radius: 4px;
}

.menu-left-contenu ul{
padding-left:0px;
}

.menu-left-contenu li{
list-style: none;
}

dl.statebar{
    text-align:center;
}

#actions h3{
    display:None;
}

div.menuSection{
    border:1px solid #6eba0d;
    margin:5px;
    -moz-border-radius: 4px;
}

div.menuHeader{
    background-color:#6eba0d;
    -moz-border-radius: 4px;
    font-style:italic;
}

div.menuHeader:hover {
    cursor :pointer;
}

div.menuHeader a{
    color:black;
    text-decoration:none;
    display:block;
    padding:2px;
}

div.menuContainer{
    display:none;
}

ul.menuContainer{
    list-style: none;
    margin:0px;
    padding-left:0px;
}

ul.menuContainer a{
margin:0px;
margin-top:6px;
border:1px solid black;
}

.menuContainer a {
    color:white;
    display:block;
    text-decoration:none;
    -moz-border-radius: 4px;
    padding:2px;
    margin-top:6px;
}

.menuContainer a:visited {
    text-decoration:none;
}

.menuContainer a:hover {
    background-color:#6eba0d;
    text-decoration:none;
}

.erreur{color:#6eba0d;}

input {
    -moz-border-radius: 4px;
    background-color: #000;
color:white;
}

input:focus {
    background-color:#222;
}

.button {
    text-align:center;
}

ul.button{
    margin-left:0px;
    padding-left:0px;
    list-style: none;
}

.button input {
    margin:3px 4px 3px 4px;
    border: 1px solid #6eba0d;
    -moz-border-radius: 4px;
    background-color: #000;
color:white;
}

.button input:hover {
    cursor:pointer;
    background-color: #6eba0d;
    border: 1px solid white;
}

.button a {
color:white;
    display:block;
    text-decoration:none;
    border:1px solid #6eba0d;;
    background-color: #;
    -moz-border-radius: 4px;
    padding:2px;
    margin:6px;
}

.button a:visited {
    text-decoration:none;
}

.button a:hover {
    background-color:#6eba0d;
    text-decoration:none;
    border:1px solid white;
}

textarea {
color:white;
    background-color:black;
    border: 1px solid #6eba0d;
    -moz-border-radius:4px;
}

textarea:focus {
    background-color:#222;
}

.form {
    text-align:right;
    margin-left:auto;
    margin-right:auto;
}

.form input{
    border: 1px solid #999;
    -moz-border-radius: 4px;
}


div.container{
    margin-bottom:6px;
}

div.headerContainer:hover {
    cursor:pointer;
    border: 1px solid white;
}


.headerContainer{
    border: 1px solid #6eba0d;
    -moz-border-radius: 4px;
    text-align:center;
}

.actionDate{
    color:white;
    margin:10px;
}

.actionName{
    font-style:italic;
}

.action{
    font-size:10px;
    margin:5px;
    font-style:italic;
}

.heading{
    font-weight:bold;
    font-style:normal;
}

.actionFileTitle{
    display:none;
}

.content{
    margin:20px;
}

dl.tab {
    margin:6px;
    padding:4px;
}

dl.tab dt{
    margin:3px 4px 3px 4px;
    border: 1px solid #999;
    padding:2px;
    -moz-border-radius: 4px;
    display:inline;
    text-align:center;
    white-space:nowrap;
    line-height:26px;
}

dl.tab dt:hover {
cursor:pointer;
background-color:#6eba0d;
}

dt.classicTab{
background-color:black;
}

dt.selectedTab{
background-color:#6eba0d;
}



dl.tab dd{
    float:left;
}

/*div bloc de page*/
.page {
background-color:#000;
    margin:1px;
    padding-top:10px;
    padding-bottom:10px;
}

.p-courante {
    background-color:#;
    height:20px;
    border:solid 1px #6eba0d;
    display:block;
    margin:25px;
    margin-top:10px;
    padding:2px;
    font-size:16px;
    font-weight:bold;
    -moz-border-radius: 4px;
}

/*div texte de contenu*/
.principal {
    border:solid 1px #6eba0d;
    margin:10px;
    padding:20px;
    text-align:justify;
    -moz-border-radius: 4px;
    background-image: url(/morrigan_extra/bg/black_frog_rendu.png);
    background-repeat:no-repeat;
    background-position:top right;

}

.contenu-right {
    float:left;
    width : 73%;
    text-align:justify;
    margin-left:15px;
}

.contenu {
    border:solid 1px #6eba0d;
    padding:15px;
    margin-top:10px;
    -moz-border-radius: 4px;
}

.contenu h1{
    text-align: center;
    font-size: 14px;
    padding:0px;
    margin:0px;
    margin-bottom:10px;
    margin-top:10px;
    font-variant:small-caps;
border:1px solid white;
}

.contenu h2{
    text-align: center;
    font-size:14px;
    margin-bottom:10px;
    border:1px solid #6eba0d;
    color:white;
}

.contenu h3{
    text-align: center;
    font-size:12px;
}

.contenu hr {
    visibility:hidden;
}

.extra{
    font-style:italic;
    text-align:left;
}

/* description d'un lieu */

#location_img{
text-align:center;
margin-top:20px;
}

#location_desc{
}

div.perso{
    border:1px solid #6eba0d;
    margin:8px;
    -moz-border-radius: 4px;
}

div.nom{
    font-weight:bold;
    text-align:center;
}

div.description{
    margin:10px;
}

img.description{
    border:2px solid #6eba0d;
    float:left;
    width:100px;
    height:100px;
    margin:5px;
}

dl.character_states dt{
    margin-left:10px;
}

dl.character_states dt, dl.character_states dd{
    display:inline;
}

img.descMenu{
    border:2px solid #6eba0d;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100px;
    height:100px;
    padding:5px;
}


div.dependPerso{
    margin-left:20px;
    margin-right:20px;
    font-size:10px
}

div.infoPerso{
    text-align:center;
    font-size:10px;
    font-style:italic;
}

.infoPerso ul{
display:inline;
list-style:none;
font-style:normal;
margin:1em;
padding:0px;
}

.infoPerso li{
display:inline;
}

.infoPerso li:after { content: ", "; }
.infoPerso li:last-child:after { content: "."; }

div.map-content{
float:left;
}

.actionForm {
	text-align:center;
}

.actionForm table{
	margin-left:auto;
	margin-right:auto;
}

.category{
    float:left;
    margin-left:1em;
    margin-top:1em;
    border: 1px solid white;
    -moz-border-radius: 4px;
    width:180px;
}

.category h2{
    text-align: center;
    background-color: #6eba0d;
    font-size: 12px;
    color:white;
    padding:2px;
    margin:0px;
}

.category table{
    table-layout:fixed;
    width:180px;
    text-align:center;
}

table.compassRose {
    border-collapse:collapse;
    width:80%;
}

.compassRose th {
    width:25%;
}

.compassRose td {
    border: 1px solid #CCC;
}

th.tableCheck {
    width:5%;
}

/* inventory page */
#inventory_misc{
    height:40px;
}

#inventory_misc dl{
    float:left;
}

#inventory_misc dt{
    text-align:center;
}

#inventory_misc li{
    display:inline;
}

#inventory_misc li:after { content: ", "; }
#inventory_misc li:last-child:after { content: "."; }

/* items table in inventory page */
table.items{
    text-align:center;
    width:98%;
    margin:1%;
}

table.items th{
    background-color:#6eba0d;
    color:white;
    padding:4px;
    border:1px solid white;
}


table.items td{
    margin:0px;padding:0px;
    border:1px solid white;
    padding:2px;
}

.item_equipped{
    font-style:italic;
}

/* bar images */

.barStartImageFull{
 background-image: url(/morrigan_extra/image/left_bar_full_green.png);
 background-repeat: no-repeat;
 height:8px;
 background-position:top right;
}

.barStartImageEmpty{
 background-image: url(/morrigan_extra/image/left_bar_empty_green.png);
 background-repeat: no-repeat;
 height:8px;
 background-position:top right;
}

.barMidImageFull{
 background-image: url(/morrigan_extra/image/bar_full_green.png);
 background-repeat: no-repeat;
 height:8px;
}

.barMidImageEmpty{
 background-image: url(/morrigan_extra/image/bar_empty_green.png);
 background-repeat: no-repeat;
 height:8px;
}

.barEndImageFull{
 background-image: url(/morrigan_extra/image/right_bar_full_green.png);
 background-repeat: no-repeat;
 height:8px;
}

.barEndImageEmpty{
 background-image: url(/morrigan_extra/image/right_bar_empty_green.png);
 background-repeat: no-repeat;
 height:8px;
}

ul.checklist{
list-style: none;
text-align:left;
}

.legend{
float:left;
text-align:center;
}
