.svg-land{
stroke:#000000;
stroke-width:1;
fill-opacity:0.5;
}

.svg-legend{
font-size:12px;
font-weight:bold;
fill:purple;
}

.svg-grid{
stroke:#4a4a4a;
stroke-width:1;
}

.svg-road{
stroke:red;
stroke-width:2;
fill:none;
}
