<!-- 
Auteur : Arkenlond (arkenlond@peacefrogs.net)  
License : GPL
-->
<!--VTP_adminrecrutement_niv1-->
<div class="contenu">
    <h1>MJ Inscription</h1>
    <div class="button"><a href="admin_editequizz.php">Gestion du Quizz</a><br></div>
    <div class="button"><a href="admin_editecategories.php">Gestion des categories de profils</a></div>
    <div class="button"><a href="admin_ouvertures.php">Gestion des ouvertures/fermetures des races/classes/sexes à l'inscription</a></div> 
</div>
<!--/VTP_adminrecrutement_niv1-->
