<!-- 
Auteur : Arkenlond (arkenlond@peacefrogs.net)  
License : GPL
-->
<!--VTP_admingestionnews_niv1-->
<div class="contenu">
    <h1>Administration des news</h1>
    <div class="button"><a href="admin_gestionnews.php">Gestion des news</a></div>
</div>
<!--/VTP_admingestionnews_niv1-->
