<!-- 
Auteur : Arkenlond (arkenlond@peacefrogs.net)  
License : GPL
-->
<!--VTP_accueil_niv1-->
<div class='contenu'>
<h1>Bienvenue sur le site du Projet Morrigan !</h1>
On remet une couche de texte pour essayer de voir à quoi ça peut bien ressembler du texte dans la page d'accueil, comme ça, parce que bon, hein, est là pour se marrer un peu, aussi, nous, non?
</div>
<!--/VTP_accueil_niv1-->
