<!-- 
Auteur : Arkenlond (arkenlond@peacefrogs.net)  
License : GPL
-->
<!--VTP_effaceprofil_niv2-->
    <!--VTP_efface_ok-->
        <h1>Profil effacé avec succès</h1>    
        <p>Le profil a été effacé.<p>
    <!--/VTP_efface_ok-->
<!--/VTP_effaceprofil_niv2-->
