<!-- 
Auteur : Arkenlond (arkenlond@peacefrogs.net)  
License : GPL
-->
<!--VTP_horsligneprofil_niv2-->
    <!--VTP_horsligneprofil_ok-->
        <h1>Profil mis hors ligne</h1>    
        <p>Le profil a été mis hors ligne.</p>
    <!--/VTP_horsligneprofil_ok-->
<!--/VTP_horsligneprofil_niv2-->
