#right-menu{
    float: right;
}

#menu{
    margin: 0;
}

.navbar-brand{
    float:left;
    height:50px;
    padding:15px 40px;
    font-size:18px;
    line-height:20px;
    background-image: url("../images/morrigan-logo-small.png");
    background-repeat: no-repeat;
    background-position: left center
}
