{% load i18n staticfiles %}<!doctype html>
<html>
<head>
    <title>{{PROJECT}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="57x57" href="/static/morrigan/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/morrigan/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/morrigan/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/morrigan/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/morrigan/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/morrigan/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/morrigan/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/morrigan/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/morrigan/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/static/morrigan/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/morrigan/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/morrigan/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/morrigan/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/morrigan/favicons/manifest.json">
    <link rel="shortcut icon" href="/static/morrigan/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/static/morrigan/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/morrigan/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% if USE_CDN %}
    {% for CSS in CDN_CSS %}
    <link rel="stylesheet" href="{{CSS}}" />{% endfor %}
    {% for JS in CDN_JS %}
    <script type='text/javascript' src="{{JS}}"></script>{% endfor %}
    {% else %}
    <!-- ReactJS -->
    {% if DEBUG %}<script type='text/javascript' src="{% static "morrigan/reactjs/react.js" %}"></script>
    {% else %}<script type='text/javascript' src="{% static "morrigan/reactjs/react.min.js" %}"></script>
    {% endif %}
    <!-- jquery -->
    <script type='text/javascript' src="{% static "morrigan/jquery/jquery.min.js" %}"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static "morrigan/bootstrap/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "morrigan/bootstrap/bootstrap-theme.min.css" %}" />
    <script type='text/javascript' src="{% static "morrigan/bootstrap/bootstrap.min.js" %}"></script>
    {% endif %}

    <link rel="stylesheet" href="{% static "morrigan/css/styles.css" %}" />
    {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse">
 <div class="container">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{% trans "Toggle" %}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{PROJECT}}</a>
   </div>
   <div class="navbar-collapse collapse">
    <ul id="menu">
    </ul>
    {% if user.is_authenticated %}
    <ul id='right-menu' class="nav navbar-nav">
       <li><a href='{% url "logout" %}'>{% trans "Logout"%}</a></li>
    </ul>
    {% endif %}
   </div>
 </div>
</nav>
<div class="container" role="main">
    {% block main %}{% endblock %}
</div>

{% if user.is_authenticated and user.profile and user.profile.pk %}
<script type='text/javascript'>
    var get_menu_url = '{% url "character-menu" user.profile.characters.all.0.slug %}';
</script>
<script type='text/javascript' src="{% static "morrigan/js/interface.js" %}"></script>
{% endif %}
</body>
</html>

