{% extends "base.html" %}
{% load i18n %}
{% block main %}

{% if form.errors %}
<div class="alert alert-danger">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
{% trans "Your username and password didn't match. Please try again." %}
</div>
{% endif %}

<form method="post" action="{% url 'login' %}">{% csrf_token %}
<div class='row'>
  <div class="col-xs-2 col-xs-offset-4">{{ form.username.label_tag }}</div>
  <div class="col-xs-2">{{ form.username }}</div>
</div>
<div class='row'>
  <div class="col-xs-2 col-xs-offset-4">{{ form.password.label_tag }}</div>
  <div class="col-xs-2">{{ form.password }}</div>
</div>
<div class='row spacer'>
  <div class="col-xs-2 col-xs-offset-5">
    <input type="submit" value="Login" />
  </div>
</div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}

